.container {
  display: flex;
  height: 100vh;
}

.main-area {
  flex: 1;
  background-color: #f4f4f4;
  min-width: 0; /* Prevents overflow issues */
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}
